## 프로젝트 설명

- 사용자는 읽기도하고 작가 신청을 통해 관리자가 승인을 하면 나만의 책을 출판할 수 있는 도서 구독 서비스입니다.
- 사용자는 한달 구독을 통해 모든 책을 한달동안 무료로 읽을 수 있습니다.
- 사용자는 개별 책을 포인트를 통해 구매하여 소장할 수 있습니다.
- 작가가 승인된 사용자는 책을 작성을 하고 임시저장을 통해 임시 저장된 목록을 확인할 수 있습니다.
- 최종 책을 등록을 하면 ai를 통해 자동으로 책의 표지를 생성하고 책의 내용을 요약하며 책의 내용을 바탕으로 포인트를 산정합니다.

## 프로젝트 구현 계획
한번에 모든것을 구현하려고 하지 마세요. 단계별로, 요청에 따라 해당 부분만 처리합니다.

## 프로젝트 구성
1. React JS
2. Styled-components
3. React Router
4. Axios

페이지 단위로 구분하며, 각 페이지에 필요한 컴포넌트는 해당 페이지 폴더 경로의 components 폴더 내부에 작성합니다.